USER_LOGIN=
PASSWORD_LOGIN=

PUBLIC_KEY=

LOGIN_URL=
IMAGE_URL=

FOOD_CATEGORY_URL=
BAZAAR_CATEGORY_URL=
DRINKS_CATEGORY_URL=
BOMBONIERE_CATEGORY_URL=
PERSONAL_CARE_CATEGORY_URL=
DAIRY_PRODUCTS_CATEGORY_URL=
PET_CATEGORY_URL=
HOUSEHOLD_CATEGORY_URL=
ICE_CATEGORY_URL=